<%- model_class = Publication -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @publication.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mediatype) %>:</strong></dt>
  <dd><%= @publication.mediatype %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @publication.category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:frequency) %>:</strong></dt>
  <dd><%= @publication.frequency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:readership) %>:</strong></dt>
  <dd><%= @publication.readership %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @publication.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @publication.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @publication.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:twitter) %>:</strong></dt>
  <dd><%= @publication.twitter %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bio) %>:</strong></dt>
  <dd><%= @publication.bio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:verified) %>:</strong></dt>
  <dd><%= @publication.verified %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              publications_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_publication_path(@publication), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              publication_path(@publication),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
