<%# add navigation links to this file %>
<% if user_signed_in? %>
  <form class="navbar-form navbar-left">
                    <input type="text" class="form-control col-lg-8" placeholder="Search">
  </form>
  <li><%= link_to 'Contacts', contacts_path %></li>
  <li><%= link_to 'Publications', publications_path %></li>
  <li><%= link_to 'Lists', lists_path %></li>  
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
